.purple{
	background: purple;
	height: 100px;
	width: 100%;
}

.red{
	background: red;
	height: 100%;
	width: 70%;
	margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  <!--padding is the space on the inside border of an element-->
}

.blue{
  background: blue;
  height: 275px;
  width: 525px;
  margin: auto;
  margin-top: 50px; <!--margin is the space outside any element. puts space around the element-->
  margin-bottom: 50px;
  position: relative; <!--makes this the element to which its nested elements are relative to-->
  }

.yellow{
  background: yellow;
  height: 125px;
  width: 125px;
  margin-left: 50px;
  margin-top: 25px;
  position: absolute; <!--this negates float, and positions the element-->
}

.green{
  background:green;
  height: 200px;
  width: 300px;
  position: absolute;
  margin-left: 200px;
  margin-top: 25px;
  }